POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_LOCAL_PORT=

JWT_SECRET=# METTRE UN MOT DE PASSE

NODE_ENV=development

DATABASE_URL=

API_PORT=3007
API_LOCAL_PORT=3007

CORS_ORIGIN=http://localhost:8080

CLIENT_LOCAL_PORT=8080


VITE_API_BASE_URL=http://localhost:3007
ALLOWED_ORIGINS=http://localhost:8080,http://localhost:3000

FILES_POSTGRES_USER=files,
FILES_POSTGRES_PASSWORD=files,
FILES_POSTGRES_DB=files,
FILES_DB_LOCAL_PORT=5455,
FILES_DATABASE_URL=postgres://files:files@files-db:5432/files,
FILES_SERVICE_LOCAL_PORT=4020,

ADMINER_LOCAL_PORT=8080,

PROXY_LOCAL_PORT=4000,
CLIENT_SERVER_NAME=oquiz.PSEUDO-server.eddi.cloud,
API_SERVER_NAME=oquiz-api.PSEUDO-server.eddi.cloud