# ============================================================
# ENV FILE EXAMPLE — DOCKER COMPOSE
# ============================================================

# -----------------------------
# DATABASE
# -----------------------------
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=example_db
POSTGRES_LOCAL_PORT=5454

# -----------------------------
# API
# -----------------------------
NODE_ENV=development

JWT_SECRET=example_jwt_secret

# Nom du service DB dans docker-compose : db
DATABASE_URL=postgres://example_user:example_password@db:5432/example_db

API_PORT=3007
API_LOCAL_PORT=3007
API_BASE_URL=http://localhost:3007
FRONTEND_URL=http://localhost:8080

# -----------------------------
# EMAIL
# -----------------------------
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=example_smtp_user
SMTP_PASS=example_smtp_pass
EMAIL_FROM="La Pince <no-reply@lapince.fr>"

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=example_mail_user
MAIL_PASS=example_mail_pass

EMAIL_FROM="Example App <no-reply@example.fr>"

# -----------------------------
# CORS
# -----------------------------
CORS_ORIGIN=http://localhost:8080
ALLOWED_ORIGINS=http://localhost:8080,http://localhost:3000

# -----------------------------
# CLIENT
# -----------------------------
CLIENT_LOCAL_PORT=8080

# API de Front
VITE_API_BASE_URL=http://localhost:3007
